<p style="color: green"><%= notice %></p>

<%= render @patient_card %>

<div>
  <%= link_to "Edit this patient card", edit_patient_card_path(@patient_card) %> |
  <%= link_to "Back to patient cards", patient_cards_path %>

  <%= button_to "Destroy this patient card", @patient_card, method: :delete %>
</div>
