<p style="color: green"><%= notice %></p>

<%= render @specialization %>

<div>
  <%= link_to "Edit this specialization", edit_specialization_path(@specialization) %> |
  <%= link_to "Back to specializations", specializations_path %>

  <%= button_to "Destroy this specialization", @specialization, method: :delete %>
</div>
